In [32]:
import matplotlib.pyplot as plt
%matplotlib inline 
from sklearn.cluster import KMeans
import pandas as pd
from pandas import DataFrame
from sklearn import datasets
import numpy as np

In [33]:
dtu = pd.read_csv("pruebasClusterUSUARIO.csv")
dta = pd.read_csv("pruebasClusterAlojamiento.csv")
dtm = pd.read_csv("pruebasClusterMuseos.csv")
dta.head()

,Unnamed: 0,ids,name,Hotel,room,number_reviews,price,availability_365,calificacion,cluster
0,0,1,Habitacion1,Hotel 1,Entirehomeapt,0,160,283,1,0
1,1,2,Habitacion2,Hotel 1,Entirehomeapt,65,350,343,4,3
2,2,3,Habitacion3,Hotel 1,Privateroom,1,50,60,5,1
3,3,4,Habitacion4,Hotel 1,Privateroom,0,95,365,3,0
4,4,5,Habitacion5,Hotel 1,Entirehomeapt,0,50,351,5,0

In [34]:
dtm.head()

,Unnamed: 0,ids,Nombre,Calle,Barrio,Precio,Calificacion,Tipo_Museo,cluster
0,0,1,Casa.Museo.Lope.de.Vega,CERVANTES,CORTES,12,4.4,6,4
1,1,2,Casita.-.Museo.del.Raton.Perez,ARENAL,SOL,27,4.2,6,2
2,2,3,Castillo.de.la.Alameda,ANTONIOSANCHA,ALAMEDADEOSUNA,23,4.2,12,0
3,3,4,Cason.del.Buen.Retiro,ALFONSOXII,LOSJERONIMOS,11,4.4,6,4
4,4,5,Centro.Social.y.Cultural.La.Casa.Encendida,VALENCIA,EMBAJADORES,19,4.4,1,1

In [35]:
dtu.head()

   Unnamed: 0  ids Nombre  edad  gasto  motiv  cluster
0           0   21   nom1    46     50      2        0
1           1   23   nom2    44     94      4        0
2           2   29   nom3    46     35      2        0
3           3   31   nom4    35    151     16        0
4           4   35   nom5    15    108      5        0

In [36]:
price = dta['price'].values
availability_365 = dta['availability_365'].values
cal = dta['calificacion'].values
idsA = dta['ids'].values
nom = dta['name'].values
hotel = dta['Hotel'].values
room = dta['room'].values
nm = dta['number_reviews'].values
clA = dta['cluster'].values
edad = dtu['edad'].values
nomU = dtu['Nombre'].values
gasto = dtu['gasto'].values
motiv =dtu['motiv'].values
idsU = dtu['ids'].values
clU = dtu['cluster'].values
idsM = dtm['ids'].values
nomM = dtm['Nombre'].values
calle = dtm['Calle'].values
barrio = dtm['Barrio'].values
precioM = dtm['Precio'].values
calM = dtm['Calificacion'].values
tm = dtm['Tipo_Museo'].values
clM = dtm['cluster'].values

In [37]:
cnA = pd.read_csv("centroidAlojamiento.csv")
cnM = pd.read_csv("centroidMuseo.csv")
cnU = pd.read_csv("centroidUsuario.csv")
cnA

,Unnamed: 0,Centroide_Precio,Centroide_Disponibilidad,Centroide_Calificacion
0,0,241.636201,330.849462,2.494624
1,1,122.074468,70.471358,2.563011
2,2,1594.428571,171.142857,2.642857
3,3,565.938053,202.884956,2.530973
4,4,101.820399,320.934035,2.487251

In [38]:
cnM

   Unnamed: 0  Centroide_Precio  Centroide_Calificacion  Centroide_Tipo
0           0         22.687500                4.425000        8.375000
1           1         18.066667                4.320000        3.600000
2           2         27.125000                4.300000        5.562500
3           3         14.000000                4.445455        8.818182
4           4         11.250000                4.362500        3.500000

In [39]:
cnU

   Unnamed: 0  Centroide_Edad  Centroide_Gasto  Centroide_Motivo
0           0       45.848214        81.506378          8.146046
1           1       49.060000       685.413333          6.553333
2           2       46.907743       288.280066          8.518946
3           3       59.909091      2591.272727          7.000000
4           4       47.000000      1564.600000          8.514286

In [40]:
cnAP = cnA['Centroide_Precio'].values
cnAD = cnA['Centroide_Disponibilidad'].values
cnAC = cnA['Centroide_Calificacion'].values
cnMP = cnM['Centroide_Calificacion'].values
cnMC = cnM['Centroide_Calificacion'].values
cnMT = cnM['Centroide_Tipo'].values
cnUE = cnU['Centroide_Edad'].values
cnUG = cnU['Centroide_Gasto'].values
cnUM = cnU['Centroide_Motivo'].values

In [41]:
#Normalizacion de Usuarios Gasto
maxUG = cnUG[0]
iu = 1
lenUG = len(cnUG)
while iu < lenUG:
    if maxUG > cnUG[iu]:
        iu +=1
    else:
        maxUG = cnUG[iu]
        iu +=1
normUG = []
niug = 0
while niug < lenUG:
    normUG.append(cnUG[niug] / maxUG)
    niug +=1
print(normUG)

[0.03145418723902611, 0.26450837309383424, 0.11125037625864571, 1.0, 0.6037959584619699]

In [42]:
#Normalizacion de Usuarios Motivo
maxUM = cnUM[0]
imo = 1
lenUM = len(cnUM)
while imo < lenUM:
    if maxUM > cnUM[imo]:
        imo +=1
    else:
        maxUM = cnUM[imo]
        imo +=1
normUM = []
niumo = 0
while niumo < lenUM:
    normUM.append(cnUM[niumo] / maxUM)
    niumo +=1
print(normUM)

[0.9562270107230668, 0.7692657770901824, 1.0, 0.821697930767743, 0.9994529933419894]

In [43]:
#Normalizacion de Usuarios Edad
maxUE = cnUE[0]
ie = 1
lenUE = len(cnUE)
while ie < lenUE:
    if maxUE > cnUE[ie]:
        ie +=1
    else:
        maxUE = cnUE[ie]
        ie +=1
normUE = []
niue = 0
while niue < lenUG:
    normUE.append(cnUE[niue] / maxUE)
    niue +=1
print(normUE)

[0.7652964448298281, 0.8189074355083461, 0.7829820530832751, 1.0, 0.7845220030349014]

In [44]:
#Promedio de Normalizacion de Usuarios
promNU = []
pu = 0
while pu < lenUE:
    #promNU.append((normUE[pu]+normUG[pu]+normUM[pu])/3)
    promNU.append((normUE[pu]+normUG[pu])/2)
    #promNU.append((normUE[pu]+normUM[pu])/2)
    #promNU.append((normUM[pu]+normUG[pu])/2)
    pu +=1

print(promNU)

[0.3983753160344271, 0.5417079043010902, 0.4471162146709604, 1.0, 0.6941589807484356]

In [45]:
#Normalizacion de Alojamiento Precio
maxAP = cnAP[0]
ia = 1
lenAP = len(cnAP)
while ia < lenAP:
    if maxAP > cnAP[ia]:
        ia +=1
    else:
        maxAP = cnAP[ia]
        ia +=1
normAP = []
niap = 0
while niap < lenAP:
    normAP.append(cnAP[niap] / maxAP)
    niap +=1

print(normAP)

[0.15155034540076262, 0.07656314636643174, 1.0, 0.3549472602527917, 0.06386011950466441]

In [46]:
#Normalizacion de Alojamiento Disponibilidad
maxAD = cnAD[0]
idi = 1
lenAD = len(cnAD)
while idi < lenAD:
    if maxAD > cnAD[idi]:
        idi +=1
    else:
        maxAD = cnAD[idi]
        idi +=1
normAD = []
niad = 0
while niad < lenAD:
    normAD.append(cnAD[niad] / maxAD)
    niad +=1

print(normAD)

[1.0, 0.21300127836066174, 0.5172831653380267, 0.6132243779438977, 0.9700303974563653]

In [47]:
#Normalizacion de Alojamiento Calificacion 
maxAC = cnAC[0]
ic = 1
lenAC = len(cnAC)
while ic < lenAC:
    if maxAC > cnAC[ic]:
        ic +=1
    else:
        maxAC = cnAC[ic]
        ic +=1
normAC = []
niac = 0
while niac < lenAC:
    normAC.append(cnAC[niac] / maxAC)
    niac +=1

print(normAC)

[0.9439116535890731, 0.9697881187242892, 1.0, 0.9576656302320019, 0.9411218313657341]

In [48]:
#Promedio de Normalizacion de Alojamiento
promNA = []
pa = 0
while pa < lenAC:
    #promNA.append((normAC[pa]+normAP[pa]+normAD[pa])/3)
    promNA.append((normAC[pa]+normAP[pa])/2)
    #promNA.append((normAC[pa]+normAD[pa])/2)
    #promNA.append((normAD[pa]+normAP[pa])/2)
    pa +=1

print(promNA)
#prueba
"""
pr1 = normAC[0] - normUE[0]
pr2 = normAP[0] -normUG[0]  
if pr1 < 0:
    pr3 = pr1*-1
    if pr2 < 0:
        pr4 = pr2*-1
    else:
        prrr = (pr2 + pr4)/2
else:
    if pr2 < 0:
        pr4 = pr2*-1
    else:
        prrr = (pr2 + pr1)/2
prrr2 = promNA[0]-promNU[0] 
if prrr2 < 0:
    prrr3 = prrr2*-1
    print(prrr3)
else:
    print(prrr2)
print(prrr)
"""

[0.5477309994949179, 0.5231756325453605, 1.0, 0.6563064452423968, 0.5024909754351993]

'\npr1 = normAC[0] - normUE[0]\npr2 = normAP[0] -normUG[0]  \nif pr1 < 0:\n    pr3 = pr1*-1\n    if pr2 < 0:\n        pr4 = pr2*-1\n    else:\n        prrr = (pr2 + pr4)/2\nelse:\n    if pr2 < 0:\n        pr4 = pr2*-1\n    else:\n        prrr = (pr2 + pr1)/2\nprrr2 = promNA[0]-promNU[0] \nif prrr2 < 0:\n    prrr3 = prrr2*-1\n    print(prrr3)\nelse:\n    print(prrr2)\nprint(prrr)\n'

In [49]:
#Asignacion de Alojamiento a Usuarios
asigUA = []
uai = 0
uaj = 0
lenNA = len(promNA)
lenNU = len(promNU)
us = 0.15
while uai < lenNU:
    t1 = []
    v1 = 0
    uaj = 0
    #compara todos los promedios de los productos a cada usuario
    while uaj < lenNA:
        #calcula diferencia entre promedios
        v1 = promNU[uai] - promNA[uaj]
        if v1 == 0:
            #agrega diferencia a un arreglo temporal
            t1.append(0)
            minUA = t1[0]
            uaj +=1
        elif v1 < 0:
            #cambia la diferencia a positiva si es negativa
            #agrega diferencia a un arreglo temporal
            v2 = v1*-1
            t1.append(v2)
            minUA = t1[0]
            uaj +=1
        else:
            #agrega diferencia a un arreglo temporal
            t1.append(v1)
            minUA = t1[0]
            uaj +=1
    lent = len(t1)
    mua = 1
    while mua < lent:
        #busca la diferencia mas pequeña
        if minUA < t1[mua]:
            mua +=1
        else:
            minUA = t1[mua]
            mua +=1
    pi = 0
    pos = 0
    while pi < lent:
        #busca la posicion de la diferencia mas pequeña
        if minUA == t1[pi]:
            pos = pi
            pi = lent
        else:
            pi +=1
    em = 0
    while em < lent:
        #elimina elementos del arreglo temporal
        t1.pop(0)
        em +=1
    #compara la difencia mas pequeña para ver si cumple con el umbral de semejansa
    if minUA <= us:
        #asigna la posicion que el cual indica que cluster de productos se asigno
        asigUA.append(pos)
        uai +=1
    else:
        #indica que no hay recomendacion que cumpla con los requisitos
        asigUA.append(-1)
        uai += 1 
print([0,1,2,3,4])
print(asigUA)
print(promNU)
print(promNA)

#el indice representa los cluster de los usuarios y el valor dentro es el cluster asignado de los productos

[0, 1, 2, 3, 4]
[4, 0, 4, 2, 3]
[0.3983753160344271, 0.5417079043010902, 0.4471162146709604, 1.0, 0.6941589807484356]
[0.5477309994949179, 0.5231756325453605, 1.0, 0.6563064452423968, 0.5024909754351993]

In [50]:
#Normalizacion Museos Precio
maxMP = cnMP[0]
im = 1
lenMP = len(cnMP)
while im < lenMP:
    if maxMP > cnMP[im]:
        im +=1
    else:
        maxMP = cnMP[im]
        im +=1
normMP = []
nimp = 0
while nimp < lenMP:
    normMP.append(cnMP[nimp] / maxMP)
    nimp +=1
print(normMP)

[0.995398773006135, 0.9717791411042945, 0.967280163599182, 1.0, 0.9813394683026585]

In [51]:
#Normalizacion Museos Calificacion 
maxMC = cnMC[0]
imc = 1
lenMC = len(cnMC)
while imc < lenMC:
    if maxMC > cnMC[imc]:
        imc +=1
    else:
        maxMC = cnMC[imc]
        imc +=1
normMC = []
nimc = 0
while nimc < lenMC:
    normMC.append(cnMC[nimc] / maxMC)
    nimc +=1
print(normMC)

[0.995398773006135, 0.9717791411042945, 0.967280163599182, 1.0, 0.9813394683026585]

In [52]:
#Normalizacion Museos Tipo
maxMT = cnMT[0]
imti = 1
lenMT = len(cnMT)
while imti < lenMT:
    if maxMT > cnMT[imti]:
        imti +=1
    else:
        maxMT = cnMT[imti]
        imti +=1
normMT = []
nimti = 0
while nimti < lenMT:
    normMT.append(cnMT[nimti] / maxMT)
    nimti +=1
print(normMT)

[0.9497422680412371, 0.40824742268041236, 0.6307989690721649, 1.0, 0.3969072164948454]

In [53]:
#Promedio Normalizacion Museos
promNM = []
pm = 0
while pm < lenMC:
    #promNM.append((normMC[pm]+normMP[pm]+normMT[pm])/3)
    promNM.append((normMC[pm]+normMP[pm])/2)
    #promNM.append((normMT[pm]+normMP[pm])/2)
    #promNM.append((normMC[pm]+normMT[pm])/2)
    pm +=1
print(promNM)

[0.995398773006135, 0.9717791411042945, 0.967280163599182, 1.0, 0.9813394683026585]

In [54]:
#Asignacion de Museos a Usuarios
asigUM = []
uaim = 0
uajm = 0
lenNM = len(promNM)
lenNU = len(promNU)
usm = 0.6
while uaim < lenNU:
    tm1 = []
    vm1 = 0
    uajm = 0
    minUM = 0
    #compara todos los promedios de los productos a cada usuario
    while uajm < lenNM:
        #calcula diferencia entre promedios
        vm1 = promNU[uaim] - promNM[uajm]
        if vm1 == 0:
            #agrega diferencia a un arreglo temporal
            tm1.append(0)
            minUM = tm1[0]
            uajm +=1
        elif vm1 < 0:
            #cambia la diferencia a positiva si es negativa
            #agrega diferencia a un arreglo temporal
            vm2 = vm1*-1
            tm1.append(vm2)
            minUM = tm1[0]
            uajm +=1
        else:
            #agrega diferencia a un arreglo temporal
            tm1.append(vm1)
            minUM = tm1[0]
            uajm +=1
    #print(tm1)
    lentm = len(tm1)
    muam = 1
    while muam < lentm:
        #busca la diferencia mas pequeña 
        if minUM < tm1[muam]:
            muam +=1
        else:
            minUM = tm1[muam]
            muam +=1
    #print(minUM)
    pim = 0
    posm = 0
    while pim < lentm:
        #busca la posicion de la diferencia mas pequeña
        if minUM == tm1[pim]:
            posm = pim
            pim = lentm
        else:
            pim +=1
    emm = 0
    while emm < lentm:
        #elimina elementos del arreglo temporal
        tm1.pop(0)
        emm +=1
    #compara la difencia mas pequeña para ver si cumple con el umbral de semejansa
    if minUM <= usm:
        #asigna la posicion que el cual indica que cluster de productos se asigno
        asigUM.append(posm)
        uaim +=1
    else:
        #indica que no hay recomendacion que cumpla con los requisitos
        asigUM.append(-1)
        uaim += 1 

print(asigUM)
print(promNU)
print(promNM)
#el indice representa los cluster de los usuarios y el valor dentro es el cluster asignado de los productos

[2, 2, 2, 3, 2]
[0.3983753160344271, 0.5417079043010902, 0.4471162146709604, 1.0, 0.6941589807484356]
[0.995398773006135, 0.9717791411042945, 0.967280163599182, 1.0, 0.9813394683026585]

In [55]:
#Asignacion que marca el grupo de alojamiento a cada usuario
cluUA = []
i = 0
itt = 0 
lenCU = len(clU)
lenAUA = len(asigUA)
while i < lenCU:
    itt = 0
    while itt < lenAUA:
        #Si el indice de itt es igual al valor de clU[i] se le asigna el valor en asigUA[itt]
        if clU[i] == itt:
            cluUA.append(asigUA[itt])
            itt +=1
        else:
            itt +=1
    i += 1

In [56]:
#Asignacion que marca el grupo de museo a cada usuario
cluUM = []
imu = 0
imtt = 0 
lenAUM = len(asigUM)
while imu < lenCU:
    imtt = 0
    while imtt < lenAUM:
        #Si el indice de imtt es igual al valor de clU[imu] se le asigna el valor en asigUA[imtt]
        if clU[imu] == imtt:
            cluUM.append(asigUM[imtt])
            imtt +=1
        else:
            imtt +=1
    imu += 1

In [57]:
UsersWMA = {'ID': idsU, 'Nombre' : nomU ,'Edad' : edad, 'Gasto' : gasto, 'Motivo' : motiv, 'Cluster' : clU, 'Cluster Alojamiento' : cluUA, 'Cluster Museo' : cluUM }
dfCluster = DataFrame(UsersWMA,columns=[ 'ID', 'Nombre','Edad','Gasto', 'Motivo', 'Cluster', 'Cluster Alojamiento', 'Cluster Museo'] )
dfCluster

,ID,Nombre,Edad,Gasto,Motivo,Cluster,Cluster Alojamiento,Cluster Museo
0,21,nom1,46,50,2,0,4,2
1,23,nom2,44,94,4,0,4,2
2,29,nom3,46,35,2,0,4,2
3,31,nom4,35,151,16,0,4,2
4,35,nom5,15,108,5,0,4,2
...,...,...,...,...,...,...,...,...
2366,14359,nom2367,76,30,8,0,4,2
2367,14364,nom2368,64,33,7,0,4,2
2368,14366,nom2369,33,177,7,0,4,2
2369,14372,nom2370,47,87,2,0,4,2
2370,14378,nom2371,17,108,8,0,4,2

In [58]:
dfCluster.to_csv('UsuariosGruposAsignados.csv')